{
    "include": [
      "packages/**/*.ts"
    ],
    "exclude": [
      "**/*.d.ts",
      "**/dist/*",
      "**/tests/*",
      "**/0xsequence/*"
    ],
    "extension": [
      ".ts"
    ],
    "require": [
      "ts-node/register",
      "babel-core/register"
    ],
    "reporter": [
      "html",
      "text",
      "lcov"
    ],
    "sourceMap": true,
    "instrument": true,
    "all": true
}
