# See https://help.github.com/ignore-files/ for more about ignoring files.

node_modules/
cache/
build/
dist/

test_chain/

*.js.map
PROD.env

.DS_Store
.vscode
.idea
*.iml
.cache
package-lock.json
coverage
.rts2_cache*

yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.nyc_output/
