on: [push]

name: tests

jobs:
  install:
    name: Install dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-dependencies

  build:
    name: Run build
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-dependencies
      - run: pnpm typecheck
      - run: pnpm lint
      - run: pnpm build

  tests-0xsequence:
    name: Run 0xsequence tests
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-dependencies
      - run: pnpm --filter 0xsequence test

  tests-abi:
    name: Run abi tests
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-dependencies
      - run: pnpm --filter abi test

  tests-api:
    name: Run api tests
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-dependencies
      - run: pnpm --filter api test

  tests-auth:
    name: Run auth tests
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-dependencies
      - run: pnpm --filter auth test

  tests-config:
    name: Run config tests
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-dependencies
      - run: pnpm --filter config test

  tests-deployer:
    name: Run deployer tests
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-dependencies
      - run: pnpm --filter deployer test

  tests-estimator:
    name: Run estimator tests
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-dependencies
      - run: pnpm --filter estimator test

  tests-guard:
    name: Run guard tests
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-dependencies
      - run: pnpm --filter guard test

  tests-indexer:
    name: Run indexer tests
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-dependencies
      - run: pnpm --filter indexer test

  tests-metadata:
    name: Run metadata tests
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-dependencies
      - run: pnpm --filter metadata test

  tests-multicall:
    name: Run multicall tests
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-dependencies
      - run: pnpm --filter multicall test

  tests-network:
    name: Run network tests
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-dependencies
      - run: pnpm --filter network test

  tests-provider:
    name: Run provider tests
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-dependencies
      - run: pnpm --filter provider test

  tests-relayer:
    name: Run relayer tests
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-dependencies
      - run: pnpm --filter relayer test

  tests-simulator:
    name: Run simulator tests
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-dependencies
      - run: pnpm --filter simulator test

  tests-transactions:
    name: Run transactions tests
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-dependencies
      - run: pnpm --filter transactions test

  tests-utils:
    name: Run utils tests
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-dependencies
      - run: pnpm --filter utils test

  tests-wallet:
    name: Run wallet tests
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-dependencies
      - run: pnpm --filter wallet test

  # coverage:
  #   name: Run coverage
  #   runs-on: ubuntu-latest
  #   needs: [install]
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: actions/setup-node@v3
  #       with:
  #         node-version: 18
  #     - uses: actions/cache@v3
  #       id: pnpm-cache
  #       with:
  #         path: |
  #           node_modules
  #           */*/node_modules
  #         key: ${{ runner.os }}-install-${{ hashFiles('**/package.json', '**/pnpm.lock') }}
  #     - run: pnpm dev && (pnpm coverage || true)
  #     - uses: codecov/codecov-action@v1
  #       with:
  #         fail_ci_if_error: true
  #         verbose: true
  #         directory: ./coverage
